@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/layout.cshtml";
}
<script src="~/assets/js/jquery.min.js"></script>
<style>
    .error-notice {
        margin: 5px 5px; /* Making sure to keep some distance from all side */
    }

    .oaerror {
        width: 90%; /* Configure it fit in your design  */
        margin: 0 auto; /* Centering Stuff */
        background-color: #FFFFFF; /* Default background */
        padding: 20px;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    .danger {
        border-left-color: #d9534f; /* Left side border color */
        background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
    }

        .danger strong {
            color: #d9534f;
        }

    .warning {
        border-left-color: #f0ad4e;
        background-color: rgba(240, 173, 78, 0.1);
    }

        .warning strong {
            color: #f0ad4e;
        }

    .info {
        border-left-color: #5bc0de;
        background-color: rgba(91, 192, 222, 0.1);
    }

        .info strong {
            color: #5bc0de;
        }

    .success {
        border-left-color: #2b542c;
        background-color: rgba(43, 84, 44, 0.1);
    }

        .success strong {
            color: #2b542c;
        }
</style>

<script>
    $(document).ready(function () {


        var val = '@Html.Raw((string)TempData["AlertMessage"])';

        if (val == "Sucess") {
            $("#Sucess").fadeIn(300);
            $("#Sucess").delay(2000).fadeOut(500);
        }
        else
            if (val == "Exists") {
                if (val != "") {
                    $("#Exists").fadeIn(300);
                    $("#Exists").delay(2000).fadeOut(500);
                }
            }
            else if (val == "AlreadyExists") {
                $("#Warning").fadeIn(300);
                $("#Warning").delay(2000).fadeOut(500);
            }



        $('#register-submit').click(function () {

            var password = $('#confirm-password2').val();
            var Cnfpassword = $('#confirm-password').val();

            if (password != Cnfpassword) {
                $("form").submit(function (e) {
                    e.preventDefault();
                });
                $("#Error").fadeIn(300);
                $("#Error").delay(2000).fadeOut(500);
            }
            else
                if (val == "Error") {
                    if (val != "") {
                        $("#Error").fadeIn(300);
                        $("#Error").delay(2000).fadeOut(500);
                    }
                }
        });







    });
</script>

<h2>Index</h2>
<div class='container'>
    <div class='row'>
        <div class="container">
            <div class="row">
                <br><br>
                <div class="error-notice">
                    <div class="oaerror danger" id="Error" style="display: none;">
                        <strong>Error</strong> - Unable to add File .Please try after sometime
                    </div>
                    <div class="oaerror warning" id="Warning" style="display: none;">
                        <strong>Warning</strong> - The File you have added already exisits. Please add with different title
                    </div>
                    <div class="oaerror info" id="Info" style="display: none;">
                        <strong>Info</strong> - Your File successfully added. It will be approved shortly
                    </div>
                    <div class="oaerror success" id="Sucess" style="display: none;">
                        <strong>Sucess!</strong> - Your File successfully added. It will be approved shortly
                    </div>
                </div>
            </div>
        </div>

        <div class='col-sm-10 col-sm-offset-1'>
            <div class='well'>
                <form method="File" enctype="multipart/form-data">
                    <div class='row'>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <label for='fname'>File Title</label>
                                <input type='text' name='PostTitle' class='form-control' />
                            </div>
                            <div class='form-group'>
                                <label for='lname'>Sub Description</label>
                                <input type='text' name='SubDescription' class='form-control' />
                            </div>


                            <label class="control-label">Select File</label>

                            <div class="input-group image-preview">
                                <input name="files" id="files" type="file" accept="doc,pdf" />
                                <span class="input-group-btn">
                                    <!-- image-preview-clear button -->
                                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                        <span class="glyphicon glyphicon-remove"></span> Clear
                                    </button>


                                </span>
                            </div>
                            <br />
                            <div class='form-group'>
                                <label for='email'>Privacy</label>
                                <select name='Privacy' class='form-control'>
                                    <option>Public</option>
                                    <option>Private</option>
                                </select>
                            </div>
                            <div class='form-group'>
                                <label for='subject'>Category</label>
                                <select name='Category' class='form-control'>


                                    @foreach (var Category in ViewBag.Categories)
                                    {
                                        <option>@Category</option>
                                       
                                    }

                                    <option>Space Research</option>
                                    <option>Technology</option>
                                    <option>Medical Research</option>
                                    <option>Engineering</option>
                                    <option>Bio-Medical</option>
                                    <option>Neurology</option>
                                    <option>Thermo Dynamics</option>

                                </select>
                                @*<input type='text' id='categoryid' name='Category' class='form-control' />*@
                            </div>
                            <div class='form-group'>
                                <label for='lname'>Reference URL</label>
                                <input type='text' name='ReferenceURL' class='form-control' />
                            </div>
                        </div>
                        <div class='col-sm-8'>
                            <div class='form-group'>
                                <label for='message'>Description</label>
                                <textarea class='form-control' name='Description' rows='18'></textarea>
                            </div>
                            <div class='text-right'>
                                <input type='submit' id="btnSubmit" class='btn btn-primary' value='Submit' />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
